.rascunhos-tabela{min-width:2450px!important}
.rascunhos-tabela .ras-col-os{width:105px;min-width:105px}
.rascunhos-tabela .ras-col-data{width:115px;min-width:115px}
.rascunhos-tabela .ras-col-destino{width:85px;min-width:85px}
.rascunhos-tabela .ras-col-loja{width:90px;min-width:90px}
.rascunhos-tabela .ras-col-alm{width:65px;min-width:65px}
.rascunhos-tabela .ras-col-grupo{width:70px;min-width:70px}
.rascunhos-tabela .ras-col-nce{width:100px;min-width:100px}
.rascunhos-tabela .ras-col-produto{width:480px;min-width:480px}
.rascunhos-tabela .ras-col-codcor{width:75px;min-width:75px}
.rascunhos-tabela .ras-col-cor{width:115px;min-width:115px}
.rascunhos-tabela .ras-col-serie{width:135px;min-width:135px}
.rascunhos-tabela .ras-col-rack{width:85px;min-width:85px}
.rascunhos-tabela .ras-col-status{width:100px;min-width:100px}
.rascunhos-tabela .ras-col-valor{width:105px;min-width:105px}
.rascunhos-tabela .ras-col-cubagem{width:95px;min-width:95px}
.rascunhos-tabela .ras-col-observacao{width:260px;min-width:260px}
.rascunhos-tabela .ras-col-acao{width:90px;min-width:90px}
.rascunhos-tabela .rascunho-input-produto{min-width:455px}
.rascunhos-tabela .rascunho-input-os{font-weight:900;color:#0756b5}
